extends html

snippet {{ "Var" !b
{{$1}}
endsnippet

snippet each "Each" !b
{{#each $1}}
	$0
{{/each}}
endsnippet

snippet tpl "Template snippet"
<template name="${1:name}">
	${2:<!--Content-->}
</template>
endsnippet
