snippet SCRIPT_DIR "Variable containing script's dir-path"
SCRIPT_DIR="$( cd "$( dirname "\$0" )" && pwd )"
endsnippet

snippet checkroot "Check if user is root"
if [ `id -u` != 0 ]; then
	echo "You have to be root to do that..."
	exit 1
fi
endsnippet
